* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    min-height: 470px;
    min-width: 300px;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    position: relative;
}

ul {
    list-style: none;
}

#aplicacion {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#elemIzq {
    position: absolute;
    z-index: 1;
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #091d3e;
    border-right: 3px solid #091d3e;
    box-shadow: 0px 0px 55px -4px rgba(0, 0, 0, 0.75);
}

.plegado {
    padding: 0;
    width: 300px;
    left: -295px;
    transition: all .8s ease;
}

#elemIzq:after {
    content: '';
    border-style: solid;
    border-width: 25px 0px 25px 25px;
    border-color: transparent transparent transparent #091d3e;
    position: absolute;
    right: -28px;
    top: 50%;
    transform: translate(0px, -50%);
}

.desplegado {
    width: 300px;
    position: absolute;
    left: 0px;
    transition: all .8s ease;
}

#listaDerecha {
    margin: 0;
    padding: 0;
    width: 27px;
    height: 100%;
    float: right;
    border-left: 3px solid white;
}

#menu {
    color: white;
    font-size: 25px;
    position: absolute;
}

.sinclick {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: -28px;
    transform: translate(-5px, -50%);
}


/*.clickado {
   position: absolute;
    z-index: 10;
    top: 50%;
    right: -28px;
    transform: translate(-5px,-50%) rotate(180deg);
 
}*/

#listaIzquierda {
    padding: 0;
    margin: 0;
    width: 270px;
    height: 100%;
    float: left;
}

#logo {
    height: 20%;
}

#logo-SIADE {
    width: 180px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#options {
    height: 70%;
}

#opciones {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
}

.opcion {
    padding: 10px;
}

.opcion a:link {
    text-decoration: none;
}

.opcion a:active {
    color: white;
    transition: all .5s ease;
}

.opcion a:visited {
    color: white;
    transition: all .5s ease;
}

.opcion a:hover {
    text-shadow: 0px 0px 27px rgb(255, 255, 255);
    transition: all .5s ease;
}

#opciones:nth-child(2),
#opciones:nth-child(3) {
    margin-top: 20px;
}

#exit {
    height: 10%;
    text-align: center;
}

#out{
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(50%, 50%);
    font-size: 17px;
    font-weight: 200;

}
#out:link{
    text-decoration: none;
}
#out:active{
    color: white;
}
#out:visited {
    color: white;
    transition: all .5s ease;
}

#out:hover {
    text-shadow: 0px 0px 27px rgb(255, 255, 255);
    transition: all .5s ease;
}


.oculto {
    display: none;
    transition: all .5s ease;
}

#elementoVisor {
    position: relative;
    float: right;
    height: 100%;
    width: calc(100% - 5px);
    margin: 0;
}

#visor {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    border-width: 0px;
    height: 100%;
    width: 100%;
}

#elementoD3 {
    position: relative;
    float: right;
    height: 100%;
    width: calc(100% - 5px);
    margin: 0;
    background-image: url(../IMAGES/d3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    transition: all .5s ease;
}

#elementoMeteo {
    position: relative;
    float: right;
    height: 100%;
    width: calc(100% - 5px);
    margin: 0;
    background-image: url(../IMAGES/meteo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    transition: all .5s ease;
}

.contenidoDef {
    width: 400px;
    height: 250px;
    padding: 30px;
    background-color: #091d3e;
    border: 6px solid #ffffff;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 59px -2px rgba(0, 0, 0, 0.75);
    transition: all .5s ease
}

.contenidoDef h3 {
    color: white;
    text-align: center;
    position: relative;
}

.contenidoDef p {
    color: white;
    text-align: center;
    position: relative;
}

.botonAbrir {
    padding: 10px;
    width: 100px;
    background-color: #091d3e;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    position: relative;
    left: 50%;
    top: 80%;
    transform: translate(-50%, 30%);
}

.botonAbrir:hover {
    background-color: white;
    color: #091d3e;
    border: 2px solid #091d3e;
}